<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @author.name %>

  <div id="books">
    <% @author.books.each do |book| %>
    <div class="rsbook" id="book-<%= book.id %>">
      <ul>
        <li>Title: <%= book.title %></li>
        <li>Pages: <%= book.pages %></li>
        <li>Publication Date: <%= book.pub_date %></li>
        <li>
          Other Authors: <%= (book.authors.pluck(:name) - [@author.name]).join(", ") %>
        </li>
      </ul>
    </div>
    <% end %>
  </div>
  <% if @author.top_review %>
  <br>
  <div id="top-review">
    <p>Top Review</p>
    <p>
      <strong>Title:</strong>
      <%= @author.top_review.title %>
    </p>
    <p>
      <strong>Description:</strong>
      <%= @author.top_review.description %>
    </p>
    <p>
      <strong>Rating:</strong>
      <%= @author.top_review.rating %>
    </p>
    <p>
      <strong>User:</strong>
      <%= @author.top_review.user.username%>
    </p>
    <p>
      <strong>Book:</strong>
      <%= @author.top_review.book.title %>
    </p>
  </div>
  <% end %>
</p>

<%= link_to 'Edit', edit_author_path(@author) %> |
<%= link_to 'Back', authors_path %> |
<%= link_to 'Delete', author_path(@author), method: :delete %>
