<p id="notice"><%= notice %></p>

<p>
  <strong>Username:</strong>
  <%= @user.username %>
</p>

<div class="ui buttons">
  <a href="/users/<%=@user.id%>?dir=asc">
    <button class="ui button">
      Sort (asc)
    </button>
  </a>

  <a href="/users/<%=@user.id%>?dir=dec">
    <button class="ui button">
      Sort (dec)
    </button>
  </a>
</div>

<div id="reviews">
  <%@reviews.each.with_index do |review, index|%>
  <div id="review-<%= index %>">
    <ul>
      <li><%= review.title %></li>
      <li><%= review.description %></li>
      <li><%= review.rating %></li>
    </ul>

    <%= link_to 'Delete', review_path(review), method: :delete%>
  </div>
  <%end%>
</div>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
