<%= form_with(model: book_author, local: true) do |form| %>
  <% if book_author.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(book_author.errors.count, "error") %> prohibited this book_author from being saved:</h2>

      <ul>
      <% book_author.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :has_many %>
    <%= form.text_field :has_many, id: :book_author_has_many %>
  </div>

  <div class="field">
    <%= form.label :has_many %>
    <%= form.text_field :has_many, id: :book_author_has_many %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
