<p id="notice"><%= notice %></p>

<p>
  <strong>Has many:</strong>
  <%= @book_author.has_many %>
</p>

<p>
  <strong>Has many:</strong>
  <%= @book_author.has_many %>
</p>

<%= link_to 'Edit', edit_book_author_path(@book_author) %> |
<%= link_to 'Back', book_authors_path %>
