<p id="notice"><%= notice %></p>

<h1>Books</h1>

<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"
            integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
            crossorigin="anonymous"></script>
    <script src='https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js'></script>
</head>

<div id="statistics">
  <div class="top-3-authors">
    <p><%= %></p>
  </div>
</div>

<body>
  <table class="ui celled table">
    <thead >
      <tr>
        <th>Title</th>
        <th>Pages</th>
        <th>Publication date</th>
        <th>Author(s)</th>
        <th>Average Rating</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @books.each do |book| %>
        <tr class="book" id="book-<%=book.id%>">
          <td data-label="Title">
            <a href="/books/<%=book.id%>">
              <%= book.title %>
            </a>
          </td>
          <td data-label="Pages"><%= book.pages %></td>
          <td data-label="Publication Date"><%= book.pub_date %></td>
          <td data-label="Author(s)">
          <%=book.authors.pluck(:id).map do |id|%>
                <%Author.find(id).name%>
          <%end.join(", ")%>
          </td>
          <td id="rating" data-label="Average Rating">
            <div class="ui star rating" data-rating="<%= book.avg_rating %>" data-max-rating="5"></div>
          </td>
          <td><%= link_to 'Show', book %></td>
          <td><%= link_to 'Edit', edit_book_path(book) %></td>
          <td><%= link_to 'Destroy', book, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <div id="top-3-books" class="ui container">
    <div class="ui row">
      <div class="ui statistic">
        <div>
        <% Book.top_3_books.each do |book| %>
          <ul>
            <li><%= book.title %></li>
          </ul>
        <% end %>
        </div>
        <div class="label">Top 3 Books</div>
      </div>
    </div>
    <div class="ui row">
      <div class="ui statistic">
        <div id="top-3-authors">
        <% Book.top_3_books.each do |book| %>
          <%book.authors.each do |author|%>
          <ul>
            <li><%= author.name %></li>
          </ul>
          <% end %>
        <% end %>
        </div>
        <div class="label">Top 3 Authors</div>
      </div>
    </div>
  </div>

  <br>

  <%= link_to 'Add Book', new_book_path %>

  <script>
    $('.ui.rating')
      .rating()
    ;
  </script>

</body>
