<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @book.title %>
</p>

<p>
  <strong>Pages:</strong>
  <%= @book.pages %>
</p>

<p>
  <strong>Pub date:</strong>
  <%= @book.pub_date %>
</p>

<p>
  <strong>Authors:</strong>
  <%@book.authors.each do |author|%>
    <a href="/authors/<%=author.id%>">
      <%= author.name %>,
    </a>
  <%end%>
</p>
<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Rating</th>
      <th>User</th>
      <th>Book</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>


    <% @book.reviews.each do |review| %>
    <tr>
      <td><%= link_to review.title, review %></td>
      <td><%= review.description %></td>
      <td><%= review.rating %></td>
      <td><%= link_to review.user.username, user_path(review.user) %></td>
      <td><%= link_to review.book.title, book_path(review.book) %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<div id="top-3-reviews" class="ui container">
  <div class="ui grid">
    <div class="four wide column">
        <div class="ui header">
          Top 3 Reviews
        </div>

        <div class="ui link list">
          <%Book.top_3_reviews(@book).each_with_index do |review, index|%>
              <a class="item" href="/reviews/<%=review.id%>"><%="#{index+1}: "%><%=review.title%></a>
          <%end%>
        </div>
    </div>
    <div class="four wide column">
      <div class="ui header">Bottom 3 Reviews</div>
      <div class="ui link list">
        <a class="item">
          <%= link_to "STUFF", book_path%>
        </a>
      </div>
    </div>
  </div>
</div>



<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Delete', book_path(@book), method: :delete %> |
<%= link_to 'Back', books_path %>
