<%= form_for [@review] do |form| %>
<% if review.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(review.errors.count, "error") %> prohibited this review from being saved:</h2>

  <ul>
    <% review.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>


<%= form.label :title %>
<%= form.text_field :title %>

<%= form.label :description %>
<%= form.text_field :description %>

<%= form.label :rating %>
<%= form.select :rating, [[1,1],[2,2],[3,3],[4,4],[5,5]] %>

<%= form.label :username %>
<%= form.text_field :username, value: "" %>

<%= form.label :book %>
<%= form.text_field :book, value: "" %>

<%= form.submit %>
<% end %>
